    <div class="container text-center">
      <h1>Recipe Scraper</h1>
      <h3>Click on the Recipe Title to Create Notes</h3>
    </div>
    <div id="wrapper">
      <div id="articles"></div>
      <div id="notes"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="app.js"></script>